#/bin/sh

xrdb $HOME/.Xdefaults &
xbindkeys &
xscreensaver -no-splash &
tmux new-session -d -s BASE &

while true
do
    sh .xsetroot.sh

    BATT=$( acpi -b | sed 's/.*[charging|unknown], \([0-9]*\)%.*/\1/gi' )
    STATUS=$( acpi -b | sed 's/.*: \([a-zA-Z]*\),.*/\1/gi' )
    if ([ $BATT -le 5 ] && [ $STATUS == 'Discharging' ]); then
	 xmessage -center "Battery LOW: `acpi -b | sed 's/.*[charging|unknown], \([0-9]*\)%.*/\1/gi'`%"
    fi

    sleep 10s
done &

exec dwm
