#/bin/sh

export PATH="${HOME}/.local/bin:${PATH}"

COMPOSITOR=picom
MUSIC=""
OS=$(uname)

case $OS in
Linux)
    COMPOSITOR=compton
    snd="amixer get Master | tail -1 | grep -Eo "[0-9]*%""
    #unit="amixer get Headphone | tail -1 | awk '{print \$4}' | grep -Eo "[onf]{2,3}""
    acpi -b && batt="acpi -b | grep "Battery 0" | awk '{ print \$4}'"
    ;;
FreeBSD)
    MUSIC=musicpd
    snd="mixer | head -1 | rev | awk '{print \$1}' | rev"
    #unit="sysctl hw.snd.default_unit | awk '{print \$2}'"
    test `apm -l` = "0" || batt="apm -l"
    ;;
OpenBSD)
    MUSIC=mpd
    snd=""
    #unit=""
    test `apm -l` = "0" || batt="apm -l"
    ;;
*)
    ;;
esac

battery-status.sh &

# Statusbar loop
while true; do
    status="$(date +"%c")"
    test "$snd" && status="$status | $(eval $snd)"
    test "$batt" && status="$status | $(eval $batt)%"
    xsetroot -name "$status"
    sleep 10
done &

mutx &
kill -s 0 `pgrep $MUSIC`|| $MUSIC $HOME/.config/mpd/${MUSIC}.conf &

xrdb $HOME/.Xdefaults &
#xscreensaver -no-splash &
xsetroot -solid gray44 &
sxhkd &

eval $COMPOSITOR -b &

exec dwm
